@font-face {
  src: url(fonts/CooperHewitt-Bold.ttf);
  font-family: "Cooper";
}
@font-face {
  src: url(fonts/Gagalin-Regular.ttf);
  font-family: "Gagalin";
}
body {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-size: cover;
  background-position: center;
  background-position-y: -35vw;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  cursor: default !important;
  animation: none !important;
  transition: none !important;
}
a {
  text-decoration: underline !important;
}
.main-title {
  position: relative;
  font-size: 45px;
  left: 50%;
  margin-left: -185px;
  color: #d1d1d1 !important;
  font-family: 'Courier New', Courier, monospace !important;
}
text {
  fill: #ccc;
}
.stroke {
  margin: 0;
  font-size: 110px;
  font-weight: thin;
}
.secondary-title {
  font-family: 'Courier New', Courier, monospace !important;
  color: #ddd;
  font-size: 100px;
  text-align: center;
  margin-top: -30px;
  font-weight: bolder;
  letter-spacing: -20px;
}
.buttons {
  position: relative;
  width: 80vw;
  left: 50%;
  margin-left: -40vw;
}
.nav-btn {
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;
  letter-spacing: normal;
  visibility: visible;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  padding: 10px;
  left: 8vw;
  background: #d1d1d1;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-right: 14vw;
  fill: #fff;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  cursor: pointer;
  content: "none" !important;
}
.nav-btn:active {
  border-bottom: none;
  border-right: none;
  border-top: 2px solid #555;
  border-left: 2px solid #555;
  cursor: progress !important;
}
.tippy-box[data-theme~="parkingmaster"] {
  background-color: #ddd;
  color: #fff;
  font-family: "Cooper", Arial;
  border: none;
  border-color: #ddd;
}
.tippy-arrow {
  border-color: #ddd !important;
}
.tippy-box[data-theme~="parkingmaster"]::before {
  border: none;
  background: #ddd;
}
.tippy-arrow {
  background: #ddd;
}
.midline {
  width: 60%;
  background: #dadada;
  height: 4px;
  border: none !important;
  outline: none !important;
  border-radius: 3px;
  margin-top: 20px;
  display: none !important;
}
#m1 {
  position: relative;
  margin-top: 50px !important;
}
@keyframes startspin {
  from { left: -50%; transform: rotateZ(-25deg) }
}
img {
  animation: startspin 1s ease-out;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin-top: 1em;
  background: #fefefe;
}
@media only screen and (max-width:1383px) {
  .nav-btn {
    margin-right: 13vw !important;
  }
}
@media only screen and (max-width:1301px) {
  .nav-btn {
    margin-right: 12.5vw !important;
  }
}
@media only screen and (max-width:1100px) {
  .nav-btn {
    margin-right: 12vw !important;
  }
}
@media only screen and (max-width:1035px) {
  .nav-btn {
    margin-right: 11vw !important;
  }
}
@media only screen and (max-width:922px) {
  .nav-btn {
    margin-right: 10vw !important;
  }
}
@media only screen and (max-width:829px) {
  .nav-btn {
    margin-right: 8vw !important;
  }
}
@media only screen and (max-width:700px) {
  .nav-btn {
    margin-right: 7vw !important;
  }
}
@media only screen and (max-width:640px) {
  .nav-btn {
    margin-right: 6vw !important;
  }
}
@media only screen and (max-width:592px) {
  a#last {
    display: none !important;
  }
  .nav-btn {
    margin-right: 7.5vw !important;
  }
}
@media only screen and (max-width:465px) {
  .nav-btn {
    left: 6vw;
  }
}
@media only screen and (max-width:275px) {
  a.cars-btn {
    display: none !important;
  }
}
@import url('https://fonts.googleapis.com/css?family=Mukta:700');
#container * {
  box-sizing: border-box;
}
#container *::before, #container *::after {
  box-sizing: border-box;
}
#container {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  position: absolute;
  top: -46%;
  margin-top: 0;
  margin: 0 !important;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin: 5px;
  margin-top: 0 !important;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  display: none;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  display: none;
}
button.learn-more .button-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #d1d1d1;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: lowercase;
  font-family: 'Courier New', Courier, monospace !important;
}
button:hover .button-text {
  color: #c0c0c0;
}
.page-mark {
  position: absolute;
  left: 90%;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  width: 20vw;
  background: #ddd;
  padding: 10px;
  color: #fff;
  font-family: "Cooper";
  display: none !important;
}
.lobbies {
  position: absolute;
  width: 40%;
  left: 50%;
  margin-left: -20%;
  background: #fff;
  box-shadow: 0 0 10px 3px #ddd;
  top: -215px;
  height: 200px;
  z-index: 9999;
  transition: top .6s;
  padding: 4px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.createLobby {
  background: #f1f1f1;
  color: #ddd;
  font-weight: normal;
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  margin: 0px;
  box-shadow: 0 2px .2px #ddd;
}
.createLobby:active {
  box-shadow: 0 .5px .2px #ddd;
}
.currentLobbies a {
  color: #ddd;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none !important;
  border-bottom: 1px solid currentColor !important;
}
.currentLobbies {
  text-align: center;
}
* {
  scrollbar-color: #ddd;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
hr.close-lobby-section {
  height: 5px;
  border: none;
  outline: none;
  background: #ddd;
  border-radius: 8px;
  transition: left 1s, width 1s;
}
/* hr.close-lobby-section:hover {
  width: 94% !important;
  left: -6%;
  margin-left: 0;
  display: inline-block;
  cursor: pointer;
}
hr.close-lobby-section:hover + #close-btn {
  display: inline-block;
}
#close-btn:hover {
  display: inline-block;
} */
#close-btn {
  display: none;
  margin: 0;
  padding: 0;
  color: #ddd;
  transform: translateY(-6px);
  margin-left: 2px;
  cursor: pointer;
}
.fa-coffee {
  position: relative;
  color: #fff;
  font-size: 150px !important;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  margin-top: 12%;
  display: none !important;
}
.fa-coffee + p {
  visibility: hidden;
}
.fa-coffee + p:after {
  position: relative;
  visibility: visible;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  content: "loading...";
  margin-top: 40% !important;
}
.custom-anchor-tt {
  background: #ddd !important;
  color: #fff !important;
  border: none !important;
  font-family: 'Courier New', Courier, monospace !important;
}